*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
venv/
.env/
env/
env.bak/
venv.bak/
*/migrations/*
.vscode/
.idea/
*.swp
*.swo
*.bak
.idea/
.DS_Store
Thumbs.db
Desktop.ini
*.log
*.log.*
admin-details